.gitignore
gamepc.php
h.php
css/bootstrap.css
css/gamepc.css
css/home.css
css/list.css
css/profile.css
css/style.css
goods/list.php
img/1.jpg
img/2.jpg
img/3.jpg
img/4.jpg
img/5.jpg
img/6.jpg
img/4090.jpg
img/4115235-exit-logout-sign-out_114030.png
img/carp.jpg
img/cyber.jpg
img/cyber2.jpg
img/disign.jpg
img/exit.png
img/headp.jpg
img/key.jpg
img/korzina.png
img/logo.png
img/mic.jpg
img/mon.jpg
img/mous.jpg
img/phone.png
img/profile.png
img/rem.jpg
img/slide1.jpg
img/slide2.jpg
img/slide3.jpg
img/star.svg
img/to.jpg
img/upgrade.jpg
img/goods/mouse/1.jpg
img/goods/mouse/2.jpg
img/goods/mouse/3.jpg
img/goods/mouse/4.jpg
img/goods/mouse/5.jpg
img/goods/mouse/6.jpg
js/jquery-3.4.1.min.js
php/footer.php
php/header.php
php/linkdb.php
php/vender/connect.php
php/vender/logout.php
